.container {
    background-color: #23262C;
    border-radius: 5px;
}

body {
    background-color: #16161C;
    font-family: "aktiv-grotesk";
    background-image: url("/images/background.jpg");
}

.btn {
    border-radius: 0;
    font-family: aktiv-grotesk-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.card {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

select {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.btn-success {
    background-image: url("/images/background.jpg");
    background-color: #19DE83;
    border-left-width: 5px;
}

.btn-success:hover {
    background-color: #00A057;
}

.btn-primary {
    background-color: #4A21FD;
}

.btn-secondary {
    background-image: url("/images/background.jpg");
    background-color: #19DE83;
    border-left-width: 5px;
    background-color: #9FA1A4;
}



th {
    color: #CED4D9;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
}

tr {
    color: #CED4D9;
}


h1,
h2,
h3,
h4,
h5 {
    color: #CED4D9;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    color: #936F72;
}

h2 {
    font-family: "aktiv-grotesk-thin";
    letter-spacing: .2rem;
    font-weight: 100;
    font-size: 1.5rem;
    color: #A0A2A5;
}


p {
    color: #CED4D9;
}

label {
    color: #CED4D9;
}

button.submit {
    float: left;
}

form#addexercise {
    margin-top: 50px;
}

#addexercise textarea {
    resize: none;
}

.panel-heading button.delete,
button.edit {
    float: right;
    margin: 5px;
}

.workout-container {
    margin-top: 10px;
}

.workout-list {
    margin-top: 25px;
}

.workouts-container {
    margin-top: 30px;
}

.workouts {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#workout-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.top-30 {
    margin-top: 30px;
}

.top-20 {
    margin-top: 20px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.navbar {
    height: 50px;
}

form.signup,
form.login {
    margin-top: 50px;
}

footer {
    padding-top: 100px;
}